<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
 *******************************************************************************
 * Copyright (c) 2014 Spikes N.V.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *  Spikes - Initial implementation
 *  Initially developed in the context of ARTIST EU project www.artist-project.eu
 *******************************************************************************
 -->
<configuration>
	<resource>in/SPTG.resx</resource>
	<type>in/ContentTypes.xml</type>
	<type>in/SiteColumns.xml</type>
	<instance>in/PendingNotificationsList.xml</instance>
	<instance>in/WorkflowInstancesList.xml</instance>
	<instance>in/WorkflowTracingList.xml</instance>
	<instance>in/WRCDeploymentsList.xml</instance>
	<instance>in/WRCDesignsList.xml</instance>
	<instance>in/WRCInstancesList.xml</instance>
	<output>out/export.uml</output>
</configuration>