<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="eu.artist.migration.modernization.uml2services.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="eu.artist.migration.modernization.uml2services.ui.popupMenus.AcceleoGenerateDbmltoServicesAction"
               enablesFor="+"
               id="eu.artist.migration.modernization.uml2services.ui.popupMenus.acceleoGenerateDbmltoServicesAction"
               icon="icons/default.gif"
               label="Generate Dbml to Services"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
