<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="eu.artist.migration.mut.cmg.j2ee.tagging.queries.J2EE" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:eu.artist.migration.mut.cmg.j2ee.tagging.queries.J2EE" id="eu.artist.migration.mut.cmg.j2ee.tagging.queries.J2EE"/>
  </extension>
</plugin>
