<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sim -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eu.artist.migration.mut.slicing.sim.presentation.SimModelWizardID"
            name="%_UI_SimModelWizard_label"
            class="eu.artist.migration.mut.slicing.sim.presentation.SimModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimModelFile.gif">
         <description>%_UI_SimModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sim -->
      <editor
            id="eu.artist.migration.mut.slicing.sim.presentation.SimEditorID"
            name="%_UI_SimEditor_label"
            icon="icons/full/obj16/SimModelFile.gif"
            extensions="sim"
            class="eu.artist.migration.mut.slicing.sim.presentation.SimEditor"
            contributorClass="eu.artist.migration.mut.slicing.sim.presentation.SimActionBarContributor">
      </editor>
   </extension>

</plugin>
