
a:active     {  font-family: Arial; font-size: 12px; color: #000000}
a:link       {  font-family: Arial; font-size: 12px; color: #000000}
a:visited    {  font-family: Arial; font-size: 12px; color: #000000}
body         {  font-family: Arial; font-size: 12px; color: #000000}
li           {  font-family: Arial; font-size: 12px; color: #000000}
ol           {  font-family: Arial; font-size: 12px; color: #000000}
table        {  font-family: Arial; font-size: 12px; color: #000000}
td           {  font-family: Arial; font-size: 12px; color: #000000}