<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UML_LIBRARY/"
            target="platform:/plugin/org.modelexecution.fumldebug.standardlibrary/library/">
      </mapping>
   </extension>
   <extension
         point="org.modelexecution.fuml.library">
      <library
            description="Primitive Behaviors Library"
            name="UML Primitive Behaviors Library"
            path="pathmap://UML_LIBRARY/uml_library.uml"
            provider="Business Informatics Group, Vienna University of Technology">
      </library>
   </extension>
   <extension
         point="org.modelexecution.fuml.libraryregistry">
      <libraryregistry
            class="org.modelexecution.fumldebug.standardlibrary.StandardLibraryRegistry">
      </libraryregistry>
   </extension>

</plugin>
