<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/JavaSource2Table/JavaSource2Table.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="JavaSource"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="JavaSource" value="EMF"/>
<mapEntry key="Table" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="JavaSource" value="METAMODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Table" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Table"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/JavaSource2Table/javasource-example.xmi"/>
<mapEntry key="JavaSource" value="/JavaSource2Table/JavaSource.ecore"/>
<mapEntry key="OUT" value="/JavaSource2Table/table-example.xmi"/>
<mapEntry key="Table" value="/JavaSource2Table/Table.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
