<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
<stringAttribute key="ATL File Name" value="//eu.artist.migration.mut.slicing/trafo/postselector.atl"/>
<booleanAttribute key="Disable JIT compiler" value="false"/>
<booleanAttribute key="Display Profiling Data" value="false"/>
<booleanAttribute key="Display Timing Data" value="true"/>
<mapAttribute key="Inout Model Options">
<mapEntry key="MODEL" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Inout Models">
<mapEntry key="MODEL" value="platform:/resource/eu.artist.migration.mut.slicing/model/modelslice/selection/petstore-app_class_diagram-Selection.uml"/>
</mapAttribute>
<mapAttribute key="Inout Models Output Locations">
<mapEntry key="MODEL" value="platform:/resource/eu.artist.migration.mut.slicing/model/modelslice/selection/petstore-app_class_diagram-CommonSelection.uml"/>
</mapAttribute>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="SIM" value="platform:/resource/eu.artist.migration.mut.slicing/model/slicingintent/annotation2classstructureSlicingIntent.sim"/>
<mapEntry key="SP" value="platform:/resource/eu.artist.migration.mut.slicing/profile/slicing.profile.uml"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="SIMM" value="http://eu.artist.migration.mut.slicing/sim"/>
<mapEntry key="UMLMM" value="http://www.eclipse.org/uml2/4.0.0/UML"/>
</mapAttribute>
<stringAttribute key="Module Name" value="postselector"/>
<stringAttribute key="Module Path" value="/eu.artist.migration.mut.slicing/trafo/"/>
<mapAttribute key="Output Model Options"/>
<mapAttribute key="Output Models"/>
<listAttribute key="Superimpose"/>
</launchConfiguration>
