<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
<stringAttribute key="ATL File Name" value="//eu.artist.migration.mut.slicing/trafo/classstructureextractor.atl"/>
<booleanAttribute key="Disable JIT compiler" value="false"/>
<booleanAttribute key="Display Profiling Data" value="false"/>
<booleanAttribute key="Display Timing Data" value="true"/>
<mapAttribute key="Inout Model Options"/>
<mapAttribute key="Inout Models"/>
<mapAttribute key="Inout Models Output Locations"/>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="MODEL" value="platform:/resource/eu.artist.migration.mut.slicing/model/modelslice/selection/petstore-app_class_diagram-CommonSelection.uml"/>
<mapEntry key="SP" value="platform:/resource/eu.artist.migration.mut.slicing/profile/slicing.profile.uml"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="UMLMM" value="http://www.eclipse.org/uml2/4.0.0/UML"/>
</mapAttribute>
<stringAttribute key="Module Name" value="classstructureextractor"/>
<stringAttribute key="Module Path" value="/eu.artist.migration.mut.slicing/trafo/"/>
<mapAttribute key="Output Model Options">
<mapEntry key="SLICE" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Output Models">
<mapEntry key="SLICE" value="platform:/resource/eu.artist.migration.mut.slicing/model/modelslice/extraction/petstore-app_class_diagram-Slice.uml"/>
</mapAttribute>
<listAttribute key="Superimpose">
<listEntry value="//eu.artist.migration.mut.slicing/trafo/commonextractor.asm"/>
</listAttribute>
</launchConfiguration>
