<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelexecution.fuml.library" name="%extension-point.name" schema="schema/org.modelexecution.fuml.library.exsd"/>
   <extension-point id="org.modelexecution.fuml.libraryregistry" name="%extension-point.name" schema="schema/org.modelexecution.fuml.libraryregistry.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelEditorID">
         <command
               commandId="org.modelexecution.fumldebug.libraryregistry.load"
               label="Load Registered Library"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         <command
               commandId="org.modelexecution.fumldebug.libraryregistry.load"
               label="Load Registered Library"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Load Registered Library"
            id="org.modelexecution.fumldebug.libraryregistry.load"
            name="Load Registered Library">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.modelexecution.fumldebug.libraryregistry.ui.LoadRegisteredLibraryHandler"
            commandId="org.modelexecution.fumldebug.libraryregistry.load">
      </handler>
   </extension>

</plugin>
