<?xml version="1.0" encoding="UTF-8"?>
<!--
 *  Copyright (c) 2014 Institute of Communication and Computer Systems (ICCS) - National Technical University of Athens (NTUA)
 *  
 *  Licensed under the MIT license:
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy
 *  of this software and associated documentation files (the "Software"), to deal
 *  in the Software without restriction, including without limitation the rights
 *  to use, copy, modify, merge, publish, distribute, sub-license, and/or sell
 *  copies of the Software, and to permit persons to whom the Software is
 *  furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *  THE SOFTWARE.
 *
 * Contributors: Kleopatra Konstanteli
 * Initially developed in the context of ARTIST EU project www.artist-project.eu
 -->
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eu.artist.methodology.mpt.cheatsheet"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="eu.artist.methodology.mpt.cheatsheet.category"
            name="ARTIST">
      </category>
      <cheatsheet
            category="eu.artist.methodology.mpt.cheatsheet.category"
            composite="true"
            contentFile="$nl$/cheatsheets/mpt_pre_migration.xml"
            id="eu.artist.methodology.mpt.cheatsheet.premigration"
            name="ARTIST Methodology Process Tool Pre-Migration">
      </cheatsheet>
      <cheatsheet
            category="eu.artist.methodology.mpt.cheatsheet.category"
            composite="true"
            contentFile="$nl$/cheatsheets/mpt_migration.xml"
            id="eu.artist.methodology.mpt.cheatsheet.migration"
            name="ARTIST Methodology Process Tool Migration">
      </cheatsheet>
      <cheatsheet
            category="eu.artist.methodology.mpt.cheatsheet.category"
            composite="true"
            contentFile="$nl$/cheatsheets/mpt_post_migration.xml"
            id="eu.artist.methodology.mpt.cheatsheet.postmigration"
            name="ARTIST Methodology Process Tool Post-Migration">
      </cheatsheet>
   </extension>
   <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/mpt_intro.xml">
      </configExtension>
      <action
            name="showMPTCheatSheet"
            replaces="runAction?pluginId=eu.artist.methodology.mpt.cheatsheet&amp;class=eu.artist.methodology.mpt.cheatsheet.actions.ShowCheatSheetAction">
      </action>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.artist.methodology.mpt.cheatsheet.commands.category"
            name="MPT Category">
      </category>
      <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.matSelectionCommand"
            name="MAT report selection command">
      </command>
      <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.matSelectionPathCommand"
            name="MAT report selection command">
      </command>
      <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.componentModelSelectionCommand"
            name="Component model selection command">
      </command>
      <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.componentModelSelectionPathCommand"
            name="Component model selection path command">
      </command>
       <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.runRuleEngineCommand"
            name="Rule engine execution command">
      </command>
       <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.checkRuleCommand"
            name="Check rule command">
            <commandParameter
            	id="eu.artist.methodology.mpt.ruleParameter"
            	name="Rule">
            </commandParameter>
      </command>
       <command
            categoryId="eu.artist.methodology.mpt.cheatsheet.commands.category"
            id="eu.artist.methodology.mpt.cheatsheet.commands.getRulesCommand"
            name="Get rules command">
            <commandParameter
            	id="eu.artist.methodology.mpt.ruleParameter"
            	name="Rule">
            </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.MATReportSelectionHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.matSelectionCommand">
      </handler>
      <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.MATReportSelectionPathHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.matSelectionPathCommand">
      </handler>
      <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.ComponentUMLFileSelectionHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.componentModelSelectionCommand">
      </handler>
      <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.ComponentUMLFileSelectionPathHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.componentModelSelectionPathCommand">
      </handler>
       <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.RuleEngineHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.runRuleEngineCommand">
      </handler>
       <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.RuleHandler"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.checkRuleCommand">
      </handler>
       <handler
            class="eu.artist.methodology.mpt.cheatsheet.handlers.RuleHandlerTest"
            commandId="eu.artist.methodology.mpt.cheatsheet.commands.getRulesCommand">
      </handler>
   </extension>
</plugin>
