<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="eu.artist.migration.mut.cmg.lob.tagging.queries.NETQuery" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:eu.artist.migration.mut.cmg.lob.tagging.queries.NETQuery" id="eu.artist.migration.mut.cmg.lob.tagging.queries.NETQuery"/>
  </extension>
</plugin>
