<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ServiceApplication"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.ServiceApplicationQuerySpecification$Provider"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ServiceApplication">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ServiceApplication"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.ServiceApplicationEvaluator1_1"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ServiceApplication_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.UI"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.UIQuerySpecification$Provider"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.UI">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.UI"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.UIEvaluator1_1"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.UI_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ASPNETControl"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.ASPNETControlQuerySpecification$Provider"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ASPNETControl">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ASPNETControl"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.ASPNETControlEvaluator1_1"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.ASPNETControl_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.WebPart"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.WebPartQuerySpecification$Provider"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.WebPart">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.WebPart"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.util.WebPartEvaluator1_1"
            id="eu.artist.migration.mut.componentmodelgenerator.lob.tagging.queries.WebPart_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.ServiceApplication"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.cmg.lob.tagging.queries.util.ServiceApplicationQuerySpecification$Provider"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.ServiceApplication">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.ServiceApplication"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.cmg.lob.tagging.queries.util.ServiceApplicationEvaluator1_1"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.ServiceApplication_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.UI"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.cmg.lob.tagging.queries.util.UIQuerySpecification$Provider"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.UI">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.UI"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.cmg.lob.tagging.queries.util.UIEvaluator1_1"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.UI_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.ASPNETControl"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.cmg.lob.tagging.queries.util.ASPNETControlQuerySpecification$Provider"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.ASPNETControl">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.ASPNETControl"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.cmg.lob.tagging.queries.util.ASPNETControlEvaluator1_1"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.ASPNETControl_1_1">
      </evaluator>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.WebPart"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="eu.artist.migration.mut.cmg.lob.tagging.queries.util.WebPartQuerySpecification$Provider"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.WebPart">
      </matcher>
   </extension>
   <extension
         id="eu.artist.migration.mut.cmg.lob.tagging.queries.WebPart"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="eu.artist.migration.mut.cmg.lob.tagging.queries.util.WebPartEvaluator1_1"
            id="eu.artist.migration.mut.cmg.lob.tagging.queries.WebPart_1_1">
      </evaluator>
   </extension>

</plugin>
