<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.artist.eu/postmigration/gm/lang/gel/GEL" 
       class = "eu.artist.postmigration.nfrvt.lang.gel.gel.GelPackage"
       genModel = "model/generated/GEL.genmodel" /> 
	
  </extension>


	


</plugin>
