<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="MDE.AnyModel2Uml.Plugin.commands.category">
      </category>
      <command
            name="Import Model from Bridge"
            categoryId="MDE.AnyModel2Uml.Plugin.commands.category"
            id="MDE.AnyModel2Uml.Plugin.commands.importCommand">
      </command>
      <command
            name="Export Model to Bridge"
            categoryId="MDE.AnyModel2Uml.Plugin.commands.category"
            id="MDE.AnyModel2Uml.Plugin.commands.exportCommand">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="MDE.AnyModel2Uml.Plugin.commands.importCommand"
            class="ll.mde.anymodel2uml.plugin.handlers.ArtistImportHandler">
      </handler>
      <handler
            commandId="MDE.AnyModel2Uml.Plugin.commands.exportCommand"
            class="ll.mde.anymodel2uml.plugin.handlers.ArtistExportHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="MDE.AnyModel2Uml.Plugin.commands.importCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="MDE.AnyModel2Uml.Plugin.commands.exportCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Artist"
               mnemonic="A"
               id="MDE.AnyModel2Uml.Plugin.menus.sampleMenu">
            <command
                  commandId="MDE.AnyModel2Uml.Plugin.commands.importCommand"
                  mnemonic="S"
                  id="MDE.AnyModel2Uml.Plugin.menus.importCommand">
            </command>
            <command
                  commandId="MDE.AnyModel2Uml.Plugin.commands.exportCommand"
                  mnemonic="S"
                  id="MDE.AnyModel2Uml.Plugin.menus.exportCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
