<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launch.UML2JavaLaunchDelegate"
            id="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launchConfigurationType"
            modes="run"
            name="%launchConfigurationName"
            sourceLocatorId="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.sourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launch.UML2JavaPersistableSourceLocator"
            id="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.sourceLocator"
            name="%sourceLocatorName">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launch.LaunchShortcut"
            icon="icons/acceleo_module_16x16.png"
            id="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.UML2JavaGenerationShortcut"
            label="%launchConfigurationShortcutLabel"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.uml">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launch.UML2JavaLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroupsName"
            id="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launchConfigurationTabGroup"
            type="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launchConfigurationType"
            icon="icons/acceleo_module_16x16.png"
            id="eu.artist.migration.modernization.uml2java.repackaged.gen.java.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="eu.artist.migration.cgt.menu.main"
               label="Code Generation Toolbox">
            <command
                  commandId="eu.artist.migration.modernization.uml2java.ui.uml2javageneration"
                  mnemonic="M">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.uml">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.artist.migration.cgt.category"
            name="Code Generation Toolbox">
      </category>
      <command
            category="eu.artist.migration.cgt.category"
            categoryId="eu.artist.migration.cgt.category"
            id="eu.artist.migration.modernization.uml2java.ui.uml2javageneration"
            name="UML to Java Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.artist.migration.modernization.uml2java.ui.UML2JavaGeneration"
            commandId="eu.artist.migration.modernization.uml2java.ui.uml2javageneration">
      </handler>
   </extension>
</plugin>
