<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.modisco.infra.discovery.core.discoverer">
      <discoverer
            class="eu.artist.migration.mdt.generic.xml.xmlaggregated.AggregatedXMLDiscoverer"
            id="eu.artist.migration.mdt.generic.xml.xmlaggregated">
      </discoverer>
   </extension>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="eu.artist.migration.mdt.generic.xml.xmlaggregated"
            icon="icons/artist.png"
            label="aggregated xml file discoverer">
      </discoverer>
   </extension>
</plugin>
