<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.artist.premigration.tft.tft.commands.OpenInventoryViewHandler"
            id="eu.artist.premigration.tft.tft.commands.openInventoryView"
            name="Open Inventory View">
      </command>
      <command
            defaultHandler="eu.artist.premigration.tft.tft.commands.OpenMigrationGoalsViewHandler"
            id="eu.artist.premigration.tft.tft.commands.openMigrationGoalsView"
            name="Open Migration Goals View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.artist.premigration.tft.tft.categoryTFT"
            name="TFT">
      </category>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.views.InventoryView"
            id="eu.artist.premigration.tft.tft.views.InventoryView"
            name="InventoryView"
            restorable="true">
      </view>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.views.MigrationGoalsView"
            id="eu.artist.premigration.tft.tft.views.MigrationGoalsView"
            name="MigrationGoalsView"
            restorable="true">
      </view>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.views.MigrationEffortsView"
            id="eu.artist.premigration.tft.tft.views.MigrationEffortsView"
            name="MigrationEffortsView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupMigrationGoals"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInMigrationGoalsViewDelegate"
               id="eu.artist.premigration.tft.tft.action1"
               label="Show in Migration Goals View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryUML"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryDI"
            nameFilter="*.di"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryPapyrusFile"
            objectClass="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventorySubResourceDI"
            nameFilter="di"
            objectClass="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventorySubResourceUML"
            nameFilter="uml"
            objectClass="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
