<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AzureCSDescriptor -->
      <package
            uri="http://schemas.microsoft.com/developer/msbuild/2003"
            class="eu.artist.migration.deployment.azure.csdes.AzureCSDesPackage"
            genModel="model/AzureCSDescriptor.genmodel"/>
   </extension>

</plugin>
