<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IntegratorInterface" publicKeyToken="5f4930e0e9fbbe5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.152.0" newVersion="1.1.152.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LL.System" publicKeyToken="5f4930e0e9fbbe5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.57" newVersion="2.2.0.57" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>