<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.artist.premigration.tft.tft.commands.OpenInventoryViewHandler"
            id="eu.artist.premigration.tft.tft.commands.openInventoryView"
            name="Open Inventory View">
      </command>
      <command
            defaultHandler="eu.artist.premigration.tft.tft.commands.OpenMigrationGoalsViewHandler"
            id="eu.artist.premigration.tft.tft.commands.openMigrationGoalsView"
            name="Open Migration Goals View">
      </command>
      <command
            defaultHandler="eu.artist.premigration.tft.tft.test.commands.OpenTFTtestViewHandler"
            id="eu.artist.premigration.tft.tft.test.commands.openTFTtestView"
            name="Open TFT Test View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="eu.artist.premigration.tft.tft.menus.mainMenu"
               label="TFT"
               mnemonic="T">
            <command
                  commandId="eu.artist.premigration.tft.tft.commands.openInventoryView"
                  label="Open Inventory View"
                  style="push"
                  tooltip="Opens the Inventory View">
            </command>
            <command
                  commandId="eu.artist.premigration.tft.tft.commands.openMigrationGoalsView"
                  label="Open Migration Goals View"
                  style="push"
                  tooltip="Open Migration Goals View">
            </command>
            <command
                  commandId="eu.artist.premigration.tft.tft.test.commands.openTFTtestView"
                  label="Open TFT Test View"
                  style="push"
                  tooltip="Open TFT Test View">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.artist.premigration.tft.tft.categoryTFT"
            name="TFT">
      </category>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.views.InventoryView"
            id="eu.artist.premigration.tft.tft.views.InventoryView"
            name="InventoryView"
            restorable="true">
      </view>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.views.MigrationGoalsView"
            id="eu.artist.premigration.tft.tft.views.MigrationGoalsView"
            name="MigrationGoalsView"
            restorable="true">
      </view>
      <view
            category="eu.artist.premigration.tft.tft.categoryTFT"
            class="eu.artist.premigration.tft.tft.test.views.TFTtestView"
            id="eu.artist.premigration.tft.tft.test.views.TFTtestView"
            name="TFTtestView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupMigrationGoals"
            nameFilter="*.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInMigrationGoalsViewDelegate"
               id="eu.artist.premigration.tft.tft.action1"
               label="Show in Migration Goals View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryUML"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryDI"
            nameFilter="*.di"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventoryPapyrusFile"
            objectClass="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventorySubResourceDI"
            nameFilter="di"
            objectClass="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.artist.premigration.tft.tft.objectContributions.popupInventorySubResourceUML"
            nameFilter="uml"
            objectClass="org.eclipse.papyrus.infra.onefile.model.ISubResourceFile">
         <action
               class="eu.artist.premigration.tft.tft.actions.ShowInInventoryViewDelegate"
               id="eu.artist.premigration.tft.tft.actions.showInInventoryView"
               label="Show in Inventory View"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
