<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebserviceTrace -->
      <package
            uri="http://webservicetrace/1.0"
            class="eu.artist.postmigration.eubt.model.webservicetrace.WebservicetracePackage"
            genModel="models/WebserviceTrace.genmodel"/>
   </extension>

</plugin>
